
.ipynb_checkpoints/vac_1-checkpoint.csv
.ipynb_checkpoints/tst-checkpoint.csv
.ipynb_checkpoints/Scraper-03-tests-checkpoint.ipynb
.ipynb_checkpoints/Scraper-03-checkpoint.ipynb
.ipynb_checkpoints/Scraper-02t-checkpoint.ipynb
.ipynb_checkpoints/Scraper-02b-checkpoint.ipynb
.ipynb_checkpoints/Scraper-01b-CM-checkpoint.ipynb
.ipynb_checkpoints/Scraper-01-CM-checkpoint.ipynb
.ipynb_checkpoints/pkl_loader-checkpoint.ipynb
.ipynb_checkpoints/Notas-checkpoint.md
.ipynb_checkpoints/file_iterator-checkpoint.ipynb
.ipynb_checkpoints/.ipynb_checkpoints/Scraper-03-checkpoint-checkpoint.ipynb
ScrapedData2/20210326.pkl
.ipynb_checkpoints/.gitignore-checkpoint
ScrapedData2/20210428.pkl
